{% extends 'base.html'%}


{% block content %}
<div class="container" id="allcomments">
  <div class="row">

    {% if all_comments %}
    <div class="col-md-7">
      <h3>All comments for the post</h3>
      {% for comment in all_comments %}
      <div class="card w-90 mb-3">
        <div class="card-body">
          <h4>{{comment.pitch.title}}</h4>
          <p class="comment">{{ comment.comment }}</p>
          <p class="user">By: {{comment.user.username}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-5  commentform">

        <form action=""method="POST">
            {{ form.hidden_tag() }}
            <div class="form-gruop">
                {{ form.comment.label(class="form-control-label")}}                
                {% if form.comment.errors %}
                    {{ form.comment(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.comment.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
            
                    </div>
                {% else %}
                    {{ form.comment(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div class="form-gruop mt-3 mb-2">
                {{ form.submit(class="btn btn-outine-info btn-primary")}}
            </div>
        </form>
    </div>
  </div>
  {%else%}
  <div class="card w-90 mb-3">
    <div>
      <p>This pitch has no comments. Be the first to comment</p>
    </div>
  </div>
  <div class="col-md-5">
    <form action=""method="POST">
        {{ form.hidden_tag() }}
        <div class="form-gruop">
            {{ form.comment.label(class="form-control-label")}}                
            {% if form.comment.errors %}
                {{ form.comment(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.comment.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
        
                </div>
            {% else %}
                {{ form.comment(class="form-control form-control-lg")}}
            {% endif %}
        </div>
        <div class="form-gruop mt-3 mb-2">
            {{ form.submit(class="btn btn-outine-info btn-primary")}}
        </div>
    </form>
  </div>
  {%endif%}
</div>

{% endblock%}